<owc-grid container [columns]="3" [hGutter]="0" item [padding]="0" [vGutter]="0">
    <!-- region row 1 -->
    <owc-grid item m="1" s="0" *ngIf="!userService.activeUser"></owc-grid>

    <owc-grid item m="1" style="background-color: '#fafafa'" [style.padding.px]="25" *ngIf="!userService.activeUser">
        <owc-input label="Username" [(ngModel)]="username" required [style.width.%]="100" [style.margin.px]="10">
            <owc-icon slot="prefix" name="user"></owc-icon>
        </owc-input>

        <owc-input label="Password" [(ngModel)]="userpassword" type="password" required [style.width.%]="100"
            [style.margin.px]="10">
            <owc-icon slot="prefix" name="log_on"></owc-icon>
        </owc-input>

        <owc-button [style.margin.px]="10" (click)="onSubmit()">Login</owc-button>
    </owc-grid>

    <owc-grid item m="1" s="0" *ngIf="!userService.activeUser"></owc-grid>
    <!-- endregion row 1 -->

    <!-- region row 2 -->
    <owc-grid item m="1" s="0"></owc-grid>

    <!-- buttons -->
    <div *ngIf="userService.activeUser">
        <!-- abba buttons -->
        <owc-grid item s="1" *ngIf="userService.activeUser.role == 'abba'" [style.padding-top.px]="20">
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                abba Button 1
            </owc-button>
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                abba Button 2
            </owc-button>
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                abba Button 3
            </owc-button>
        </owc-grid>

        <!-- apprentice button -->
        <owc-grid item s="1" *ngIf="userService.activeUser.role == 'apprentice'" [style.padding-top.px]="20">
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                apprentice Button 1
            </owc-button>
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                apprentice Button 2
            </owc-button>
            <owc-button disable-ripple flat round type="button" variant="primary" [style.width.%]="100"
                [style.margin-top.px]="10">
                apprentice Button 3
            </owc-button>
        </owc-grid>
    </div>

    <owc-grid item m="1" s="0"></owc-grid>
    <!-- endregion row 2 -->
</owc-grid>

<owc-typography class="center" element="p" variant="title5" style="text-align: center;" [style.margin.px]="75"
    [style.margin-left.%]="10" [style.margin-right.%]="10" [style.width.%]="80">
    Bei einem dualen Studium gibt es den DH-Studenten, die Firma und die Hochschule als hauptsächliche Aktivisten.
    Der duale Student wechselt innerhalb von 3 Jahren immer wieder zwischen Firma und Hochschule, das heißt, dass
    der Student abwechselnd z.B. 3 Monate beim Unternehmen arbeitet und 3 Monate in der Hochschule einen Studiengang
    lernt.
</owc-typography>