<div [style.margin-left.%]="10" [style.margin-right.%]="10">

    <owc-typography variant="title4" class="txtstyling">Profil</owc-typography>
    <br>
    <owc-typography variant="title6" class="txtstyling">ID: {{uID}}</owc-typography>
    <owc-typography variant="title6" class="txtstyling">Name: {{uName}}</owc-typography>
    <owc-typography variant="title6" class="txtstyling">Job: {{uJob}}</owc-typography>
    <owc-typography variant="title6" class="txtstyling">Role: {{uRole}}</owc-typography>
    <owc-typography variant="title6" class="txtstyling">Year: {{uYear}}</owc-typography>
    <br>
    <input ng2FileSelect type="file" accept=".xml" [uploader]="uploader" class="uploadstyling"/>

</div>