owc-button{
    margin-left: 24px;
}

owc-input{
    width: 60%;
    margin-top: 5% !important;
    margin: auto;
}

owc-select-dropdown{
    width: 60%;
    margin-top: 5% !important;
    margin: auto;
}