<owc-table #tableElement [height]="'auto'" [style]="'top: 50px'">
    <owc-table-header elevated sticky>

      <owc-table-header-cell width="33.33%" resizable>Titel</owc-table-header-cell>

      <owc-table-header-cell width="auto" resizable>Jahrgang</owc-table-header-cell>

      <owc-table-header-cell width="auto">Status</owc-table-header-cell>

    </owc-table-header>

    <owc-table-body>

        <ng-container *ngFor="let project of projectList">

            <owc-table-row *ngIf="project.abba == 'Kevin Latusinski'" expandable>

                <owc-table-cell> {{ project.name }}</owc-table-cell>
                
                <owc-table-cell> {{ project.year }} </owc-table-cell>
                
                <owc-table-cell> {{ project.status }} </owc-table-cell>
                
                <div slot="expanded"> {{ project.description }} </div>

            </owc-table-row>
                
        </ng-container>

    </owc-table-body>

    <div slot="header">
        All Ihre Projekte
        <owc-chip icon="create">
            <a [routerLink]="['/abba/newProject']">Neues Projekt </a>
        </owc-chip>
    </div>
</owc-table>

