<div [style.margin-left.%]="10" [style.margin-right.%]="10"> 
    <!--Überschrift-->
    <owc-typography variant="title4" style=" margin-bottom: 18px" >Startseite für Neulinge</owc-typography>

    <!-- Text -->
    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Willkommen auf der Startseite!</owc-typography>
    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Hier kannst Du, ob Studierender, Ausbildungsbeauftragter oder Ausbilder,
        Praxisanfragen sehen, bearbeiten oder verwalten. Bei weiteren Fragen kannst du
        gerne eine E-Mail an kevin.latusinski@roche.com
        senden.
        
    </owc-typography>
    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</owc-typography>

    <!-- Home Button-->
    <owc-button [routerLink]="['/']">Zurück zu Home!</owc-button>
</div>