<div [style.margin-left.%]="10" [style.margin-right.%]="10"> 
    <owc-typography variant="title4" style=" margin-bottom: 18px" >Startseite für Neulinge</owc-typography>

    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Hier ist die Startseite des Praxisphasen Verwaltungssytem!</owc-typography>
    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Hier können ABBAS, Ausbilder und Azubis alle Handlungen zur dualen Ausbildung.</owc-typography>
    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Bei Fragen schreiben sie kevin.latusinski@roche.com per E-Mail an!</owc-typography>

    <owc-typography variant="subtitle1" style= "margin-bottom: 8px" >Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</owc-typography>

    
    <owc-button [routerLink]="['/']">Zurück zu Home!</owc-button>
</div>