<div class="spacer">
  <owc-input
    label="Suche"
    maxLength="50"
    placeholder="Filter Thema..."
    type="text"
    variant="filled"
    class="searchfilter"
    [(ngModel)] = "value"
    (inputChange)="onChange($event)"
  ></owc-input>

  <a routerLink="/apprentice/profile"
    ><owc-button class="buttonPos">Profil</owc-button></a
  >
</div>
<div>
  <owc-table
    #tableElement
    drag-enabled
    height="auto"
    scroll-hide-timeout="1000"
  >
    <owc-table-header elevated sticky>
      <owc-table-header-cell width="400px" align="left" noClip="false"
        >Thema</owc-table-header-cell
      >
      <owc-table-header-cell width="25%">Ansprechpartner</owc-table-header-cell>
      <owc-table-header-cell width="auto">Beruf</owc-table-header-cell>
      <owc-table-header-cell width="175px"></owc-table-header-cell>
    </owc-table-header>

    <owc-table-body>
      <ng-container *ngFor="let praxisphase of filteredPp">
        <owc-table-row>
          <owc-table-cell>{{ praxisphase.name }}</owc-table-cell>
          <owc-table-cell>{{ praxisphase.abba }}</owc-table-cell>
          <owc-table-cell>{{ praxisphase.job_group }}</owc-table-cell>
          <owc-table-cell><owc-button onclick="">Send E-Mail</owc-button></owc-table-cell>
        </owc-table-row>
      </ng-container>
    </owc-table-body>

    <div slot="header">Praxisphasen</div>
  </owc-table>
</div>
